/* CSS BY Anisha Duchicela */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {

    /* Colors */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* Fonts */
    --main-font: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--main-font);
    background-color: var(--linen);
    color: var(--dark-charcoal);
    width: 100%;
    margin: 0;
    line-height: 1.5;
}

/* HEADER STYLES */

header {
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--midnight-blue);
    width: 100%;
}

header img {
    width: 45%;
    height: auto;
    margin-top: 1rem;
}

header h1 {
    color: var(--soft-white);
    font-size: 3.5em;
    font-weight: bold;
    padding: 0.5rem;
} 

header p {
    color: var(--soft-white);
    font-size: 1.05em;
    font-style: italic;
    margin-bottom: 1.5rem;
}

header nav {
    background-color: var(--champagne-gold);
    padding: 0.5rem 0;
    
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: var(--dark-charcoal);
    text-decoration: none;
    text-align: center;
    font-size: 1.30em;
    font-weight: bold;
}

/* MAIN STYLES */

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5rem;
    font-size: 0.85em;
}

main h2 {
    font-size: 2em;

}

main p {
    margin: 0.25rem 0;
}

/* About Section */

#about {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--champagne-gold);
}

/* Offerings Section */

#offerings {
    margin-bottom: 0.5rem;
    padding-bottom: 0.65rem;
    border-bottom: 2px solid var(--champagne-gold);
}

#offerings h3 {
    color: var(--soft-white);
    font-size: 1.75em;
    font-weight: bold;
    padding-top: 0.5rem;
}

#hide {
    display: none;
}

#offerings-details section {
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--dark-charcoal);
}

#offerings-details ul li {
    list-style: disc;
    list-style-position: inside;
}

/* Gallery Section */

#gallery {
    border-bottom: 2px solid var(--champagne-gold);
}

#gallery h2 {
    margin-top: 1rem;
}

#gallery p {
    margin-bottom: 1rem;
}

#gallery figure, #gallery img {
    width: 100%;
    height: auto;
}

#gallery figure {
    background-color: var(--soft-white);
    box-shadow: 0px 2px 5px var(--dark-charcoal);
    margin-bottom: 1rem;
    border-radius: 10px;
}

#gallery img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#gallery figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: var(--dark-charcoal);
    padding-top: 0.35rem;
    padding-bottom: 0.65rem;
}

#gallery a {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--soft-white);
    background-color: var(--olive-green);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.65rem;
    margin-bottom: 1.25rem;
    border-radius: 5px;
}

/* Footer Section */

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--midnight-blue);
}

footer h2 {
    display: none;
}

footer address,  address a {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--soft-white);
    text-decoration: none;
    font-size: 0.9em;
}

footer address {
    margin: 2.5rem 0;
}

footer address a:last-child {
    color: var(--champagne-gold);

}

footer section:last-child a {
    color: var(--champagne-gold);
    font-size: 0.8em;
    text-decoration: none;
}


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px) {
    body {
        min-width: 600px;
        font-size: medium;
    }

    header img {
        width: 30%;
    }

    main {
        margin: 1.5rem 3rem;
    }

    #offerings {
        padding-bottom: 1.5rem;
    }

    #offerings h2 {
        margin-bottom: 1rem;
    }

    #offerings-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #offerings-details section {
        margin: 0;
    }

    #offerings-details section:last-child {
        grid-column: 1 / -1;
    }

    #gallery div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;  

    }
}


/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
    body {
        min-width: 900px;
        font-size: larger;
    }

    header img {
        width: 25%;
    }

    main {
        margin: 1.5rem 3rem;
    }

    #offerings-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #gallery div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}


/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px) {
    body {
        min-width: 1200px;
        font-size: large;
    }

    header img {
        width: 15%;
    }

    main {
        margin: 2.5rem 10.5rem;
    }

    #offerings-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #offerings-details section p, section ul {
        width: 100%;
    }

    #gallery div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #gallery figcaption {
        margin: 0.5rem;
    }
}